
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
body {
    background:url('./img/bg-intro-desktop.png'), hsl(0, 100%, 74%);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content:space-around;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
}
/* menu a gaUCHE */
.sidemenuleft {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 0 0 0 200px  ; */
   
}
.sidemenuright {
    align-content: center;
}

.title2 {
    width: 100%;
    background-color: hsl(248, 32%, 49%);
    color: white;
    font-size: 12px;
    background: hsl(248, 32%, 49%);
    border-radius: 10px;

}

.forms {
    /* width: 90%; */
    bottom: 5px;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    margin:0 auto;

}
#formulaire {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text] {
    width: 80%;
    padding: 10px 10px;
    margin: 8px 10px;
    border-radius: 2px;
    box-sizing: border-box;
}

.btn {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    background-color: hsl(154, 59%, 51%)
}

h3 {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    left: 22px;

}

.bas {
    /* padding: 12px 20px; */
    font-size: 12px;
}

.avliens {
    color: #330;
    opacity: 0.5;
}

.liens {
    font-size: 10px;
    font: weight 400px;
    color: hsl(0, 100%, 74%);
}

.imgs {
    position: relative;
    bottom: 65px;
    left: 170px;
    width: 20px;
    height: 20px;
    visibility: hidden;

}

.Name {
    /* position: relative; */
    top: 5px;
    font-size: 14px;
    left: 360px;
    color: hsl(0, 100%, 74%);
    bottom: 35px;
    visibility: hidden;

}

#snom {
    /* bottom: 45px; */
    /* left: 300px; */
    visibility: hidden;

}

/* @media screen and(min-width:375px) {
    .container{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: auto 1fr 1fr auto;
        align-content: center;

    }
} */

@media screen and (max-width: 745px) {
    body {
        padding: 0;
        margin: 0;
    }
    .container{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        /* width: 100%; */
    }

    .sidemenuleft {
        width: 100%;
        padding: 20px; 
        box-sizing: border-box;
        text-align: center
    }

    .sidemenuright {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #formulaire {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title2 {
        width: 100%;
    }
    .imgs{
        left: 80px;
        bottom: 60px;
        width:10px;
        height:10px;

    }

    .Name{
        font-size:10px;
    }
}